@model TTMDotNetCore.ATMMvcApp.Models.AdminModel
<div id="main-wrapper">

	<div class="content-body">
		<div class="container-fluid">
			<div class="row h-100">
				<div class="col-lg-4 col-md-7 col-sm-12 mx-auto align-self-center">
					<div class="login-form">
						<div class="text-center">
							<h3 class="title">Edit account</h3>
							@* <p>Sign in to your account to start using W3CRM</p> *@
						</div>
						<form action="index.html">
							<div class="mb-4">
								<label class="mb-1 text-dark">FullName</label>
								<input type="text" class="form-control form-control" id="FullName" value="@Model.FullName" required>
							</div>


							<div class="mb-4">
								<label class="mb-1 text-dark">PhoneNo</label>
								<input type="text" class="form-control form-control" id="PhoneNo" value="@Model.PhoneNo" required>
							</div>
							<div class="mb-4">
								<label class="mb-1 text-dark">StaffId</label>
								<input type="text" class="form-control form-control" id="StaffId" value="@Model.StaffId" disabled>
							</div>
							<div class="mb-4 position-relative">
								<label class="mb-1 text-dark">Password</label>
								<input type="password" class="form-control" id="Password" value="@Model.Password">

							</div>

							<div class="text-center mb-4">
								<button type="button" class="btn btn-primary btn-block" id="btnSave">Update</button>
							</div>


							<div class="mb-3">
								<ul class="d-flex align-self-center justify-content-center">
									<a target="_blank" href="https://www.facebook.com/" class="fab fa-facebook-f btn-facebook"></a>
									<a target="_blank" href="https://www.google.com/" class="fab fa-google-plus-g btn-google-plus mx-2"></a>
									<a target="_blank" href="https://www.linkedin.com/" class="fab fa-linkedin-in btn-linkedin me-2"></a>
									<a target="_blank" href="https://twitter.com/" class="fab fa-twitter btn-twitter"></a>
								</ul>
							</div>

						</form>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 mr-5">
					<div class="pages-center h-100  align-self-center">

						<div class="login-content">
						</div>
						<br>
						<br>
						<div class="mb-4">
							<label class="mb-1 text-dark">NRCNo</label>
							<input type="text" class="form-control form-control" id="NRCNo" value="@Model.NRCNo">
						</div>

						<div class="mb-4">
							<label class="mb-1 text-dark">Email</label>
							<input type="email" class="form-control form-control" id="Email" value="@Model.Email" required>
						</div>
						<div class="mb-4">
							<label class="mb-1 text-dark">Address</label>
							<input type="text" class="form-control form-control" id="Address" value="@Model.Address" required>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script>
		$('#btnSave').click(function () {
			if ($('#FullName').val() === '' || $('#NRCNo').val() === '' || $('#Address').val() === ''
				|| $('#PhoneNo').val() === '' || $('#Password').val() === '' || $('#Email').val() === '' || $('#StaffId').val() === '') {
				warningMessage("Fill all required fields.");
			}
			else {
				var _reqModel = {
					AdminId: @Model.AdminId,
					FullName: $('#FullName').val(),
					NRCNo: $('#NRCNo').val(),
					Address: $('#Address').val(),
					PhoneNo: $('#PhoneNo').val(),
					Password: $('#Password').val(),
					Email: $('#Email').val(),
				};

				$.ajax({
					url: '/admin/EditAdmin',
					type: 'POST',
					data: {
						reqModel: _reqModel
					},
					success: function (data) {

						showMessage(data, "/admin/Edit/@Model.AdminId");
					},
					error: function (request, status, error) {
						console.log({ request, status, error });
					}
				});
			}
		})
	</script>
}
